.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  overflow: auto;
  padding: 20px;
  color: #000;
}

.root h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.root h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.root p {
  font-size: 16px;
  line-height: 1.5;
}
.root a {
  color: #007bff;
  text-decoration: none;
}
.root a:hover {
  text-decoration: underline;
}
.root .close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

#text-selection-popup {
  position: absolute;
  width: 32px;
  height: 32px;
  max-width: 32px;
  max-height: 32px;
  z-index: 10000; /* Ensure it appears above other content */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  user-select: none;
  cursor: pointer;
}

#text-selection-popup img {
  width: 32px;
  height: 32px;
}

#text-selection-popup .loading {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
